NODE_ENV=development
PORT=3000
USER=your-user-name
DATABASE=your-atlas-mondodb-connection-string
DATABASE_PASSWORD=your-password
DATABASE_LOCAL=mongodb://localhost:27017/natours
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=your-expries-duration
JWT_COOKIE_EXPIRES_IN=your-expries-duration
EMAIL_USERNAME=username-for-mailtrap
EMAIL_PASSWORD=password-for-mailtrap
EMAIL_HOST=host-for-mailtrap
EMAIL_PORT=port-for-mailtrap